@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");

body {
  font-family: "Dongle", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  margin: 0;

  background-color: #f6f6f6;
}

select,
input,
textarea {
  font-family: "Dongle", sans-serif;
  font-size: 1.5rem;
}
